<a href="#" class="icon-printer accessibility-tab" onclick="window.print(); return false;" style="color:#fff;">&nbsp;pdf</a>@*<control name="Channel Shift Printer Icon" showInMenu="true" viewingGroup="2" category="Favourites">
</control>*@