@*<control name="Channel Shift Section Title" showInMenu="true" viewingGroup="2" category="Favourites">
</control>*@@using Contensis.Framework.Web
@using Contensis.Framework.Web.Search
@using System.Web;
@using System.Collections;

@{

    // Name: Channel Shift - Title
    // Developer: Asif Nissar
    // License: Blackpool council
  
  
}

<div id="landing-title" class="row clearfix">
    <div class="col-md-12 zero-pad-all clearfix"><h1 class="header-title">@CurrentNode.Name.Replace("-", " ")</h1></div>
</div>                                 




