<div id="pdf-print-links" class="row clearfix">
    <div id="last-modified-container" class="col-md-8 zero-pad-all">
        <span id="last-modified" class="pull-left">Last Modified January 27, 2025</span>
     </div>
    <div id="printer-icons-container" class="col-md-4 zero-pad-all">
        <ul id="print-links-ul" class="pull-right">
            <li>
                <a title="Download this page as a PDF" class="icon-pdf accessibility-tab" rel="nofollow" href="#">Download as PDF</a>
             </li>
            <li class="last">
                <a href="#" class="icon-printer accessibility-tab" onclick="window.print(); return false;" style="color:#fff;">&nbsp;pdf</a>
            </li>
        </ul>
    </div>
</div>
