<div id="back-to-top" class="row clearfix">
    <div class="col-md-12 backtotop-container zero-pad-left zero-pad-right"><a class="scrollToTop pull-right accessibility-tab" href="#">Back to top</a></div>
</div>