

<footer class="zero-pad-left zero-pad-right clearfix">
    <div id="footer-top-outer-container" class="row">
        <div class="col-md-4 col-sm-12 zero-pad-left mobile-text-left">
            <h5 class="footer-title">Blackpool Council</h5>
            <address class="footer-text">Municipal Buildings<br /> Corporation Street<br /> Blackpool<br /> FY1 1NF</address>
        </div>
        <div class="col-md-4 col-sm-12 zero-pad-left mobile-text-left">
            <h5 class="footer-title">Information and help</h5>
            <ul class="footer-menu">
                <li><a class="accessibility-tab" title="accesibility" href="/Accessibility.aspx">Accessibility</a></li>
                <li><a class="accessibility-tab" title="contact us" href="/Contact-us.aspx">Contact us</a></li>
                <li><a class="accessibility-tab" title="data protection" href="/Your-Council/Transparency-and-open-data/Data-protection/Data-protection.aspx"><a class="accessibility-tab" title="privacy and cookies" href="/Privacy-policy-and-cookies.aspx">Privacy and cookies</a></a></li>
                <li><a class="accessibility-tab" title="terms and conditions" href="/Disclaimer.aspx">Terms and conditions</a></li>
                <li><a title="Council companies" class="sys_0 sys_t0" href="/Your-Council/The-Council/Council-companies.aspx">Blackpool Council companies</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12 zero-pad-left zero-pad-right mobile-text-left">
            <h5 class="footer-title">Find my nearest</h5>
            <div class="row zero-pad-all">
                <div id="where-is-my-nearest-container" class="col-sm-12 col-md-12"><span class="footer-text">Enter your postcode to find your nearest schools, council services and more</span><br /> <span id="find-services_error" class="error" style="display: block; position: relative; top: -9px;"></span></div>
                <div class="col-sm-12 col-md-12">
                    <div id="postcode-search" class="input-group clearfix">
                        <label class="visuallyhidden" title="this is a search box" for="find-services-input">search</label> 
                        <input id="find-services-input" class="form-control accessibility-tab" type="text" maxlength="8" placeholder="Enter postcode" size="18" name="b" /> 
                        <span id="find-services-button-container" class="input-group-btn"> 
                            <button id="find-services-button" class="btn btn-default accessibility-tab" type="button">search</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bottom-outer-container" class="row">
        <div class="col-md-4 col-sm-12 zero-pad-left">&nbsp;</div>
        <div class="col-md-4 col-sm-12 zero-pad-left mobile-text-left">
            <h5 class="footer-title">Stay upto date</h5>
            <p class="footer-title"><a title="YourBlackpoolsignup" class="sys_16" href="https://subscribe.emailblaster.cloud/MTc3MDQ/376.html">Sign up to our regular newsletters</a></p>
        </div>
        <div class="col-md-4 col-sm-12 zero-pad-left zero-pad-right mobile-text-left">
            <h5 class="footer-title">Follow us</h5>
            <div class="col-md-12"><a class="accessibility-tab social-media-block" href="https://www.facebook.com/bpoolcouncil"><img alt="facebook" src="/SiteElements/ChannelShift/content/images/footer/white/facebook.svg" /></a> <a class="accessibility-tab social-media-block" href="https://twitter.com/bpoolcouncil"><img alt="twitter" src="/SiteElements/ChannelShift/content/images/footer/white/twitter.svg" /></a> <a class="accessibility-tab social-media-block" href="https://www.instagram.com/bpoolcouncil/"><img alt="instagram" src="/SiteElements/ChannelShift/content/images/footer/white/instagram.svg" /></a> <a class="accessibility-tab social-media-block" href="https://www.youtube.com/user/BlackpoolCouncil"><img alt="youtube" src="/SiteElements/ChannelShift/content/images/footer/white/youtube.svg" /></a></div>
        </div>
    </div>
</footer>
