

<a class="blackpooluk-skip-link" href="#root-container">Skip to main content</a>

<div id="navigation-outer-container" class="homepage-outer-container clearfix noprint">
    <div id="navigation-inner-container" class="homepage-max-width">
        <!-- Navigation -->
        <nav id="top-nav" class="navbar navbar-inverse navbar-default">
            <div class="navbar-header"></div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="accessibility-tab" href="/Accessibility.aspx">Accessibility</a></li>
                    <li class="divider-vertical">|</li>
                    <li><a class="accessibility-tab" href="/Sitemap.aspx">Sitemap</a></li>
                    <li class="divider-vertical">|</li>
                    <li><a class="accessibility-tab" href="/Contact-us.aspx">Contact us</a></li>
                    <li class="divider-vertical">|</li>
                    <li><a class="accessibility-tab" href="/List-of-Services.aspx">A to Z</a></li>
                    <li class="divider-vertical">|</li>
                    <li><a class="accessibility-tab" title="Newsroom" href="/News/Newsroom.aspx">News</a></li>
                    <li class="divider-vertical">|</li>
                    <li><a class="accessibility-tab" title="Your Blackpool sign up" href="https://subscribe.emailblaster.cloud/MTc3MDQ/376.html">Keep updated</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div id="searchbox-outer-container" class="homepage-outer-container clearfix" role="navigation">
    <div id="search-box-inner" class="homepage-max-width fluid-container">
        <div class="row">
            <div class="col-xs-3 zero-pad-left">
                <a class="accessibility-tab" title="Homepage" href="/Home.aspx"> 
                    <img id="logo" alt="Blackpool Council Logo" src="/SiteElements/ChannelShift/Content/images/homepage-new/logo.svg" height="39" width="200" />
                </a>
            </div>
            <div class="col-xs-9 zero-pad-right">
                <div class="row">
                    <div id="gateway" class="col-xs-8">
                        <div id="navigation" class="gateway-container desktop-view">
                            <ul class="gateway-links">
                                <li><a title="Residents Section Pages" class="sys_0 sys_t0" href="/Residents/Residents.aspx">Residents</a></li>
                                <li><a title="Business Section Pages" class="sys_0 sys_t0" href="/Business/Business.aspx">Business</a></li>
                                <li><a title="Your-council Section Pages" class="sys_0 sys_t0" href="/Your-Council/Your-council.aspx">The council</a></li>
                                <li><a class="accessibility-tab" title="Visit Blackpool Website" href="http://www.visitblackpool.com/">Visitors</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="search-container" class="col-xs-4">
                        <div class="right-inner-addon">
                            <div id="search-mobile" style="display: none;"></div>
                            <div id="search" class="desktop-view">
                                <span id="form-master"> 
                                    <span id="search-box"> 
                                        <label class="visuallyhidden" title="this is a search box" for="desk_top_searchquery_text">search</label> 
                                        <input id="desk_top_searchquery_text" class="form-control accessibility-tab" type="text" placeholder="Search" name="search" /> 
                                    </span> 
                                    <span id="search-button"> 
                                        <input id="desk_top_searchquery_button" class="accessibility-tab" title="submit button" onclick="javascript: searchQuery('desk_top_searchquery_text'); return false;" aria-label="sbumit search" type="submit" name="run" /> 
                                    </span> 
                                </span>
                             </div>
                                <span id="mobile-search-view" class="mobile-view" style="z-index: 1001; float: left; position: relative; left: 55px;"> 
                                    <a id="toggle-search" class="search-anchor accessibility-tab" style="position: relative; z-index: 1002;" title="search icon" onclick="return false;" aria-label="toggle search" href="#"> 
                                       <span id="search-anchor-icon" class="mobile-search-icon "></span> 
                                    </a> 
                                </span> 
                                <span id="mobile-menu-view" class="mobile-view"> 
                                    <a id="toggle-menu" class="menu-anchor accessibility-tab" title="mobile icon" onclick="return false;" aria-label="toggle menu" href="#"> 
                                        <span id="menu-anchor-icon" class="mobile-nav-icon "></span> 
                                    </a> 
                                 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row toggle-search" style="display: none; padding: 0px;">
            <div class="form-wrapper">
                <label class="visuallyhidden" title="this is a search box" for="mobile_searchquery_text">search</label>
                <input id="mobile_searchquery_text" class="field accessibility-tab" onkeypress="handleKeyPress(event)" aria-label="submit mobile search" type="search" maxlength="40" placeholder="Search here e.g. council tax" size="18" name="q" /> 
                    <button id="mobile-search-button" class="mv-search accessibility-tab" style="z-index: 20 !important;" onclick="javascript: searchQuery('mobile_searchquery_text'); return false;" aria-label="mobile search button" type="submit">
                        <span>&nbsp;</span>
                    </button>
             </div>
        </div>
    </div>
</div>


