
<div id="section-guidance" class="hide-for-print">

	<h2 class="ignore">How to search the page</h2>
	<div class="signpost signpost-mobile"><strong>iOS Safari</strong> &ndash; tap the action icon (square with arrow at bottom of screen) and select &lsquo;find on page&rsquo; from the list of options.<br /><strong>Other mobile browsers</strong> &ndash; tap the browser&rsquo;s options menu (usually 3 dots or lines) and select &lsquo;find on page&rsquo; from the options.</div>
	<div class="signpost signpost-desktop"><strong>CTRL + F on your keyboard (Command + F on a Mac)</strong><br /> This will open a search box on the page. Type the word you are looking for in the search box and press enter. The word will then be highlighted wherever it appears in the guidance. Use the navigation in the search box to move to the next word found.</div>
		<h2 class="ignore">How to print a copy of the page</h2>
		<div class="signpost signpost-mobile"><strong>iOS Safari</strong> &ndash; tap the action icon (square with arrow at bottom of screen) and select &lsquo;print&rsquo; from the list of options.<br /><strong>Other mobile browsers</strong> &ndash; tap the browser&rsquo;s options menu (usually 3 dots or lines) and select &lsquo;print&rsquo; or select &lsquo;share&rsquo; from the list of options, then &lsquo;print&rsquo; in the popup.</div>
		<div class="signpost signpost-desktop"><strong>CTRL + P on your keyboard (Command + P on a Mac)</strong><br /> You have an option to print the entire page, or select a page range.
	</div>
</div>@*
<control name="Documents Search" showInMenu="true" category="Favourites" viewingGroup="2">

</control>*@