@{

    // Name: Channel Shift - Structured Content (Content types)
    // Developer: Asif Nissar
    // Name: headerbox Image - used in sports blackpool pages
    // License: Blackpool council
    // Date: 11/06/2018
}


@using System;
@using System.Collections;
@using Contensis.Framework.Web
@using Newtonsoft.Json
@using Zengenti.Contensis.Delivery;
@using Zengenti.Data;

@using Blackpool.Zengenti.CMS.Common;
@using Blackpool.Zengenti.CMS.Modules.Configuration;
@using Blackpool.Zengenti.CMS.Helpers;
@using Blackpool.Zengenti.CMS.Models.BlackpoolCentral
@using Blackpool.Zengenti.CMS.Models.Venues;
@using Blackpool.Zengenti.CMS.Models.GenericTypes;
@using Blackpool.Zengenti.CMS.Models.Components;
@using Blackpool.Zengenti.CMS.Constants;

@{
    BlackpoolCentralDTO DTO = Page.Model;
    SerialisedItem serialisedItem = null;
    string Title = string.Empty;
    ImageHeaderBox box = null;
  

    string headerImageBox = "";
    if (DTO.Flow != null){

        foreach (var item in DTO.Flow.GetContent)
        {
            var list = item.Items.FindAll(x => x.ClassType == typeof(ImageHeaderBox));
            if (list != null && list.Count > 0)
            {
                serialisedItem = list[0];
                box = SerializeHelper.Deseralize(serialisedItem) as ImageHeaderBox;
                break;
            }
        }
        headerImageBox = (box != null && box.Image != null && box.Image.Asset != null)
            ? String.Format("{0}{1}", DTO.BaseImageUrl, box.Image.Asset.Uri) : headerImageBox;

       Title = DTO.CurrentItem.Title;
    }

}


<style type="text/css">
        div.container-image {
             background-attachment: scroll;
             background-position: center;
             background-size: cover;
             background-image: url('@Html.Raw(headerImageBox)');
             position:relative;
             border-bottom: solid 0px #fff;
             max-height: @String.Format("{0}px", 378);
             height:  @String.Format("{0}px", 378);
         }
</style>
<div class="bottom-spacer">
<div class="container-image clearfix">
    <div class="centered-text">
       <h1 id="firstWord">@String.Format("{0}",box.Title)</h1>
    </div>
</div>
</div>






