/* Custom CSS following GOV.UK Design System principles */
:root {
    /* Main brand colors */
    --ul-primary-color: #041c2c; 
    --ul-print-color: #000;
}

    ul.shade-black {
    
        font-size: 1.9rem;
        line-height: 1.3157894737; 
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left:30px;
    }

    ul.shade-black li {
        padding-left: 0px;
        /
    }

    ul.shade-black li::before {
        left: 12px;
    }

@media screen and (max-width: 640px) {

    ul.shade-black {
        font-size: 18px;
        font-size: 1rem;
        line-height: 1.25;
        color: var(--ul-primary-color);
        margin-top: 0;
        margin-bottom: 20px;
        padding-left: 0;
        list-style-type: none;
    }


    ul.shade-black li {
        margin-bottom: 5px;
        padding-left: 25px;
        position: relative;
    }

    ul.shade-black li::before {
        content: "•";
        font-size: 1.2em;
        font-weight: bold;
        color: var(--ul-primary-color);
        position: absolute;
        left: 10px;
        top: -1px;
                
        }
}

    /* Print styles */
@media print {
    ul.shade-black {
        color: var(--ul-print-color);
        font-size: 14pt;
        line-height: 1.2;
    }

    ul.shade-black li::before {
        color: var(--ul-print-color);
    }
}
