<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github-asifblackpool" value="https://nuget.pkg.github.com/asifblackpool/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-asifblackpool>
      <add key="Username" value="asifblackpool" />
      <add key="ClearTextPassword" value="%GITHUB_PAT%" />
    </github-asifblackpool>
  </packageSourceCredentials>
</configuration>
