<footer class="zero-pad-left zero-pad-right clearfix">
    <div id="footer-top-outer-container" class="row">
        <div class="col-md-4 col-sm-12 zero-pad-left mobile-text-left">
           <img class="footer-logo" src="~/SiteElements/ChannelShift/Content/images/catering-services/blackpool-council-catering.svg" alt="blackpool catering services" />
        </div>
        <div class="col-md-4 col-sm-12 zero-pad-left mobile-text-left">
            <h5 class="footer-title">Blackpool Council</h5>
            <address class="footer-text">Municipal Buildings<br /> Corporation Street<br /> Blackpool<br /> FY1 1NF</address>
        </div>
            <div class="col-md-4 col-sm-12 zero-pad-left zero-pad-right mobile-text-left">
                <h5 class="footer-title">Information and help</h5>
                <ul class="footer-menu">
                    <li><a class="accessibility-tab" title="accesibility" href="/Accessibility.aspx">Accessibility</a></li>
                    <li><a class="accessibility-tab" title="contact us" href="/Contact-us.aspx">Contact us</a></li>
                    <li><a class="accessibility-tab" title="data protection" href="/Your-Council/Transparency-and-open-data/Data-protection/Data-protection.aspx">Data protection and privacy</a></li>
                    <li><a class="accessibility-tab" title="privacy and cookies" href="/Privacy-policy-and-cookies.aspx">Privacy and cookies</a></li>
                    <li><a class="accessibility-tab" title="terms and conditions" href="/Disclaimer.aspx">Terms and conditions</a></li>
                    <li><a class="accessibility-tab" href="/Your-Council/The-Council/Council-companies.aspx">Blackpool Council companies</a></li>
                </ul>
            </div>
        </div>
    <div id="footer-bottom-outer-container" class="row">
        <div class="col-md-4 col-sm-12 zero-pad-left">&nbsp;</div>
        <div class="col-md-4 col-sm-12 zero-pad-left mobile-text-left">&nbsp;</div>
        <div class="col-md-4 col-sm-12 zero-pad-left zero-pad-right mobile-text-left">&nbsp;</div>
    </div>
</footer>