<footer class="clearfix">
    <div class="center-block row zero-margin-all clearfix">
        <div class="footer-container col-md-3 col-sm-6 zero-pad-all align-left">
            <strong class="footer-title-text">Contact us</strong>
            <aside class="footer-text">
                <p style="color:#fff;">
                    <span style="color:#fff;">01253 477083</span><br />
                    <a href="mailto:sendiass@blackpool.gov.uk" target="_top" style="color:#fff; text-decoration:none;">sendiass@blackpool.gov.uk</a>

                </p>
            </aside>
        </div>
        <div class="col-md-3 col-sm-6 zero-pad-all align-left footer-container">
            <strong class="footer-title-text">Address</strong>
            <aside class="footer-text">
                <p>
                    Blackpool<br />
                    SENDIASS Blackpool Council<br />
                    PO BOX 4<br />
                    Blackpool FY1 1NA
                </p>
            </aside>
        </div>
        <div class="col-md-3 col-sm-6 zero-pad-all footer-container footer-logo">
            <a style="color:#fff; display:none;" href="https://www.facebook.com/Blackpool-Sendiass-109068370884368/" class="fa fa-facebook"><span class="social-media-title">&nbsp;&nbsp;Facebook</span></a><br/>
            <a style="color:#fff; display:none;" href="https://twitter.com/BpoolSendiass" class="fa fa-twitter"><span class="social-media-title">&nbsp;Twitter</span></a>
        </div>
        <div class="col-md-3 col-sm-6 zero-pad-all footer-container footer-logo">
        
            <a href="#">
                <img class="footer-sendiass-logo" alt="Blackpool Council" src="/SiteElements/ChannelShift/Content/images/sendiass/sendias-bc-supported-by.png">
            </a>
        </div>
    </div>
</footer>