/* accessability style sheet 04/03/2020  */
.sr-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.blackpooluk-skip-link {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    font-size: 19px !important;
    font-size: .875rem;
    line-height: 1.14286;
    display: block;
    padding: 10px 15px
}

.blackpooluk-skip-link:active,
.blackpooluk-skip-link:focus {
    position: static !important;
    width: auto !important;
    height: auto !important;
    margin: inherit !important;
    overflow: visible !important;
    clip: auto !important;
    clip-path: none !important;
    white-space: inherit !important
 }

.blackpooluk-skip-link:link,
.blackpooluk-skip-link:visited,
.blackpooluk-skip-link:hover,
.blackpooluk-skip-link:active,
.blackpooluk-skip-link:focus {
    color: #0b0c0c;
 }

.blackpooluk-skip-link:focus {
   outline: 3px solid #fd0;
   background-color: #fd0;
   display: inline;
   position: absolute !important;
   top: 6px;
   z-index: 99;
 }

#onetrust-policy-text a,
.accessibility-tab, .accessibility-tab-100
a.accessibility-tab, a.accessibility-tab-100 {
    border: solid 0px red;
}


    .sys_theme-simple .sys_news-search-control select:focus,
    .sys_theme-simple .sys_news-search-control input:focus,
    .sys_theme-simple .sys_search-options .sys_checkbox-list .sys_checkbox:focus,
    .sys_theme-simple .sys_search-options .sys_checkbox-list .sys_checkbox label:focus,

    #onetrust-policy-text:focus 
    a:focus,
    #twitter-feed-last-tweet:focus,
    a.link-head:focus,
    a.sidr-class-accessibility-tab:focus,
    a.accessibility-tab:focus, .accessibility-tab:focus,
    a.accessibility-tab-100:focus, .accessibility-tab-100:focus {
        border-bottom: solid 3px black !important;
        background-color: yellow !important;
        text-decoration: none !important;
        outline: none !important;
        color: #000 !important;
        padding: 3px !important;
        display: inline-block !important;
        z-index: 1 !important;
        font-weight: bold;
    }

    #twitter-feed-last-tweet:focus {
        display:inline !important;
    }
a.accessibility-tab-100, a.link-head {
    width: 100% !important;
}

a.accessibility-tab:focus > #logo,
a.accessibility-tab:focus > span.mobile-search-icon,
a.accessibility-tab:focus > span.mobile-nav-icon, 
#mobile-search-button:focus {
    background-color: green !important;
}

input[type=text].accessibility-tab:focus,
button.accessibility-tab:focus {
    border: solid 3px yellow !important;
    background-color: yellow !important;
    color: #000 !important;
    font-weight: bold !important;
    padding: 3px !important;
    z-index: 1 !important;
    outline: none !important;
    font-weight: bold;
    display: block !important;
}


a.button-task {
    height: 167px;
    background: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

a.button-task:focus, .top-tasks:focus {
    border-bottom: solid 3px black !important;
    background-color: yellow !important;
    display: block !important;
    outline: none !important;
    font-weight:bold;
 }

.figure-wrapper:focus {
    font-weight:bold;
    color:#000;
}

::placeholder {
    color: black !important;
    font-weight: bold;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black !important;
    font-weight:bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black !important;
    font-weight:bold;
}

#search-button > input:focus {
    top: -13px;
    position: relative;
    left: 1px;
    margin-left: 10px;
    display: inline-block;
    height: 32px;
    color: transparent !important;
    width: 30px;
}

img#logo {
    width: 200px;
    position: relative;
    top: 3px;
}

#search-button{
    top:-1px;
}

a.search-anchor {
    top:3px;
}

a.search-anchor:focus {
    top:0px;
}

.sys_theme-simple .sys_flickrpager .sys_navigation span.sys_navigationnext a, 
.sys_theme-simple .sys_flickrpager .sys_navigation span.sys_navigationprevious a
sys_navigationnext a:hover,
sys_navigationnext a:focus,
sys_navigationprevious a:hover,
sys_navigationprevious a:focus {
    color: #041c2c !important;
    font-weight: bold !important;
}

.sys_theme-simple .sys_flickrpager .sys_navigation .sys_disabled {
    color: #5b616b !important;
    font-weight: bold !important;
}

.sys_theme-simple .sys_search-options .sys_button-row input.sys_searchbutton, 
.sys_theme-simple .sys_search-options .sys_button-row input.sys_search-button, 
.sys_theme-simple .sys_search-options .sys_basic-search-row input.sys_search-button, 
.sys_theme-simple .sys_advanced-search-options .sys_button-row input.sys_search-button
{
    height: 49px !important;
    text-align: center !important;
    display: inline-block !important;
    width: 100% !important;
    padding: 0px !important;
    background-image: none !important;
}

