@{

// Name: Channel Shift - Structured Content (Content types)
// Developer: Asif Nissar
// Name: Gallery Image - used in sports blackpool pages
// License: Blackpool council
// Original Date: 11/06/2018
// Modified: 08/09/2022- account for base content type.
}


@using System;
@using System.Collections;
@using Contensis.Framework.Web
@using Newtonsoft.Json
@using Zengenti.Contensis.Delivery;
@using Zengenti.Data;

@using Blackpool.Zengenti.CMS.Common;
@using Blackpool.Zengenti.CMS.Modules.Configuration;
@using Blackpool.Zengenti.CMS.Helpers;
@using Blackpool.Zengenti.CMS.Models.ParksAndGreenSpaces
@using Blackpool.Zengenti.CMS.Models.GenericTypes;
@using Blackpool.Zengenti.CMS.Models.Components;

@{
    ParksAndGreenSpacesDTO DTO = Page.Model;
    CTALink ctalink = null;
    Config config = DTO.Config;
    String path = DTO.Config.SeoUrlList.Website + DTO.Config.SeoUrlList.UrlPath;
    int IndexCounter = Page.CtaCounter;



    SerialisedItem serialisedItem = null;
    string Url = "#";
    if (DTO.Flow != null)
    {
        int counter = 0;
        foreach (var item in Page.CtaLinks)
        {

            serialisedItem = item;
            ctalink = SerializeHelper.Deseralize(serialisedItem) as CTALink;


            //if cast return null ... lets check if we can find the page by its alias
            //this is a sanity check
            if (ctalink.LinkedContentPage != null)
            {
                //temp = DTO.List.Items.Where(x => x.Alias == ctalink.LinkedContentPage.Alias).First();
                string[] urlSplit = UrlHelper.SplitUri(ctalink.LinkedContentPage.Sys.Uri);

                String sb = string.Empty;
                if (urlSplit != null)
                {
                    int stringBuilderCounter = 0;
                    foreach(string value in urlSplit)
                    {
                        if (stringBuilderCounter > 1)
                        {
                            sb = String.Format("{0}/{1}", sb, value);
                        }
                        stringBuilderCounter++;
                    }

                    sb = config.SeoUrlList.UrlPath + sb;
                    sb = sb.Replace("//", "/");

                }

                Url = string.Format("{0}{1}.aspx", config.SeoUrlList.Website, sb);
            }

            if (ctalink.ExternalURL != null)
            {
                Url = ctalink.ExternalURL;
            }



            if (IndexCounter == counter)
            {
                break;
            }
            counter++;

        }
    }
}
@if (ctalink != null)
{
    <br />
    <a class="cta-link-button accessibility-tab" onclick="window.location.href='@string.Format("{0}", Url)'">@ctalink.ButtonText</a>
    <br />
    <br />

}


