@{

    // Name: Channel Shift - Structured Content (Content types)
    // Developer: Asif Nissar
    // Name: HTML Mak up for Parks and Greenspaces
    // License: Blackpool council
    // Date: 09/12/2022
}


@using System;
@using Blackpool.Zengenti.CMS.Helpers;
@using Blackpool.Zengenti.CMS.Models.GenericTypes;
@using Blackpool.Zengenti.CMS.Models.Components;

@{
    ParksAndGreenSpacesDTO DTO = Page.Model;
    List<SerialisedItem> SerialisedMarkup = Page.Markup;
    List<ContentBox> HtmlMarkup = new List<ContentBox>();

    Config config = DTO.Config;


    if (SerialisedMarkup != null)
    {
        foreach (var item in SerialisedMarkup)
        {
            HtmlMarkup.Add(SerializeHelper.Deseralize(item) as ContentBox);
        }
    }

}



@if (HtmlMarkup != null && HtmlMarkup.Count > 0)
{

    foreach (var item in HtmlMarkup)
    {
        <section class="@string.Format("{0}", DTO.PageType == ParksAndGreenspacesPages.Top_Level_Home ? "home" : string.Empty) ">
        @Html.Raw(String.Format("{0}", item != null ? item.Markup : string.Empty))
        </section>
    }
   
}


