@{

    // Name: Channel Shift - Structured Content (Content types)
    // Developer: Asif Nissar
    // Name: Top Level Children Grid - used in blackpool Parks and Green spaces pages
    // License: Blackpool council
    // Date: 19/11/2022
}



@using System;
@using Blackpool.Zengenti.CMS.Common;
@using Blackpool.Zengenti.CMS.Constants;
@using Blackpool.Zengenti.CMS.Helpers;
@using Blackpool.Zengenti.CMS.Models.GenericTypes;
@using Blackpool.Zengenti.CMS.Models.Components;
@using Blackpool.Zengenti.CMS.Models.GenericTypes;
@using Blackpool.Zengenti.CMS.Models.Components;
@using Blackpool.Zengenti.CMS.Modules.Configuration;
@using Blackpool.Zengenti.CMS.Helpers.Components;

@using Zengenti.Contensis.Delivery;

@{
    ParksAndGreenSpacesDTO DTO = Page.Model;
    List<SerialisedContent> sc = new List<SerialisedContent>();
    List<String> titles = new List<string>();
    List<String> slugs = new List<String>();
    int counter = 0;

    if (DTO.ChildItems != null && DTO.ChildItems.Count > 0)
    {
        foreach (var item in DTO.ChildItems)
        {
            titles.Add(item.Title);
            sc.Add(item.GetSerialisedContent());
            slugs.Add(DTO.Config.SeoUrlList.UrlPath  +  item.SiteViewSlug + ".aspx");
        }
    }

    int level = 1;
    if (DTO.PageType == ParksAndGreenspacesPages.Park || DTO.PageType ==  ParksAndGreenspacesPages.Top_Level_Children_Grid)
    {
        level = 2;
    }

    List<ImageBox> gallery = new List<ImageBox>();
    Config config = new Config()
    {
        SeoUrlList = new SeoFriendlyUrlElement() { Key = SeoKeys.ParksAndGreenspaceKey }
    };


    if (DTO.Flow != null)
    {

        foreach (var item in DTO.Flow.GetContent)
        {
            List<SerialisedItem> SerailisedList = item.Items.FindAll(x => x.ClassType == typeof(ImageBox) && x.ContainerType == ComponentKeys.IMAGE_BOX);
            if (SerailisedList != null)
            {
                foreach (SerialisedItem si in SerailisedList)
                {
                    ImageBox temp = SerializeHelper.Deseralize(si) as ImageBox;
                    gallery.Add(temp);
                }
            }
        }
    }


    if (gallery.Count > 0)
    {

     <div class="grid-container clearfix">
        @foreach (var item in gallery)
        {
            string linkedHref = "#";
            string ImageUrl = DTO.NoImageUrl;
            string altText = "";
            try
            {
                linkedHref = slugs[counter];

                if (item.Image != null && item.Image.Asset != null)
                {
                    ImageUrl = item.Image.Asset.Uri.ToString();
                    altText = item.Image.AltText;
                }

                string temp = string.Empty;
                if (item.LinkedEntry != null && item.LinkedEntry.Uri != null)
                {
                    temp = UrlHelper.GetEverythingAfterLastSlash(item.LinkedEntry.Uri, "/", level);
                }

                linkedHref = !String.IsNullOrEmpty(item.ExternalURL) ? item.ExternalURL :  (item.LinkedEntry !=null) 
                    ? String.Format("{0}{1}.aspx", config.SeoUrlList.UrlPath, temp) : linkedHref;
                ImageUrl = DTO.IsLocal ? string.Format("{0}{1}", DTO.BaseImageUrl, ImageUrl) : ZenUtilities.ImageUriToCachedImageUri(string.Format("{0}{1}", DTO.BaseImageUrl, ImageUrl), 400, 300);

            }
            catch (Exception ex)
            {
                linkedHref = string.Empty;
            }


            if (linkedHref != string.Empty)
            {
                <div class="col-lg- col-md-4 col-sm-4 col-xs-12 zero-pad-all gallery-margin" style="display:inline-block">
                    <div class="gallery-container gallery-click">
                        <div class="image-gallery">
                            <a href="@string.Format("{0}", linkedHref)" class="gallery-link pseudo-link-click accessibility-tab" style="cursor:pointer; text-decoration:none;">
                                <img src="@ImageUrl" class="img-responsive img-grid" alt="@altText" style="border-radius:22px;" />
                            </a>
                            <div class="middle">
                                <div class="text gallery-title">@item.Title</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            counter++;

        }
      </div>

        <script type="text/javascript">

            $(document).on("click", "div.gallery-click", function (e) {

                var link = $(this).find("a.pseudo-link-click");
                var href = link.attr('href');
                console.log("clicked tile " + href);
                window.location = href;
                e.preventDefault();
                return false;
            });
        </script>
    }

}


