@*<control name="channel shift outdated browser" showInMenu="true" category="favourites" viewingGroup="1">
</control>
    


*@@{

    // Name: Channel Shift - Outdated Browser
    // Developer: Asif Nissar
    // License: Blackpool council
    // Require
}

<div style="display: none;" class="container-popup" id="outdated-browser">
	<div class="popup">
		<div class="pull-right" id="close">
			<a id="outdated-browser-close" href="#close" title="close browser">
  				<object id="close-button-svg" class="close-btn" data="/siteElements/channelshift/content/images/close-button.svg" type="image/svg+xml"></object>
  			</a>
		</div>
		<div class="clearfix" id="title">
			<h2>
				<strong>Your browser is out of date!</strong>
				<span>&nbsp;&nbsp;<a href="http://outdatedbrowser.com/en" title="update browser">Update my browser now </a></span>
			</h2>
		</div>
		<div id="content">
			<p>Update your browser to view this website correctly. Upgrading your browser will increase security and improve your experience on all websites.
			</p>
		</div>
	</div>
</div>